@import "./cleanStyle.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./store.scss";
@import "./parallax.scss";
@import "./menu.scss";
@import "./form.scss";
@import "./events.scss";
@import "./chat.scss";
@import "./animation.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $base-font;
  scroll-behavior: smooth;
}
