$base-color: rgb(255, 255, 255);
$second-color: rgb(0, 0, 0);
$thirty-color: rgb(241, 174, 74);
$fourth-color: rgb(163, 163, 163);
$base-font: "Open Sans", sans-serif;
$second-font: "Pinyon Script", cursive;
$thirty-font: "Roboto", sans-serif;
$fourth-font: "Satisfy", cursive;
$base-size: 14px;
$second-size: 18px;
$thirty-size: 24px;
$fourth-size: 48px;
